# Tarea 1. Programación
### Curso de Tópicos Avanzados en Estadística 1
#### Nombre: Andres Santiago Acevedo Mancera

### Primer Punto

In [7]:
# Importando las librerias necesarias
import pandas as pd
from sklearn.datasets import load_iris

In [8]:
iris = load_iris()  # cargamos el conjunto de datos Iris

### Segundo Punto

In [9]:
class LoadIris:
    '''
    Clase para crear un `DataFrame` en `Pandas` a partir de un conjunto de datos que se le pase (específico para Iris).

    Atributos:
    - `df`:    conjunto de datos a cargar
    '''
    def __init__(self, df):
        self.index = -1
        self.df = pd.DataFrame(data=np.c_[iris['data'], iris['target']],
                                         columns=iris['feature_names'] + ['target'])
    def data(self):
        '''
        Cada vez que este método es llamado se devuelven los dos siguientes datos en el `DataFrame`.
        '''
        self.index += 1
        if self.index < self.df.shape[0]/2:
            return self.df[self.index*2:self.index*2+2]  # filas en el indice 2*i y la que le sigue
        else:
            return print("Error, los datos se han agotado")

### Probando la clase...

In [10]:
Iris = LoadIris(iris)
Iris.df  # debe mostrar el DataFrame del conjunto de datos Iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [11]:
print(Iris.data())  # debe imprimir las filas 0 y 1 del DataFrame
print(Iris.data())  # debe imprimir las filas 2 y 3 del DataFrame
print(Iris.data())  # debe imprimir las filas 4 y 5 del DataFrame

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

   target
0     0.0
1     0.0
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

   target
2     0.0
3     0.0
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4

   target
4     0.0
5     0.0

In [12]:
for i in range(71):
    Iris.data()
print(Iris.data())  # este el último valor que alcanza a retornar
Iris.data()  # para este punto ya se debio quedar sin datos

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
148     2.0
149     2.0
Error, los datos se han agotado